<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to Oiishidle</h1>
    <h2>Mains</h2>
    <div class = "mains">
    <% for(i =0; i < mains.length; i++) { %>
        <p><%= mains[i].name %></p>
        <a href="/oiishidle/<%= i %>"><img src = "<%= mains[i].img %>" ></img></a>
    <% } %> 
    </div>
    <h2>Drinks</h2>
    <div class = "drinks">
    <% for(i =0; i < drinks.length; i++) { %>
        <p><%= drinks[i].name %></p>
        <a href="/drink/<%= i %>"><img src = "<%= drinks[i].img %>" ></img></a>
    <% } %> 
    </div>
    <h2>Desserts</h2>
    <div class = "desserts">
        <% for(i =0; i < desserts.length; i++) { %>
            <p><%= desserts[i].name %></p>
            <a href="/dessert/<%= i %>"><img src = "<%= desserts[i].img %>" ></img></a>
        <% } %> 
        </div>

    <a href = '/oiishidle/'><input type= 'button' value = "Home"></a>
</body>
</html>